# App
APP_PORT=
APP_ENV=

# MongoDB
MONGODB_URI=
DB_NAME=

# Maritime Routing Engine
ROUTING_ENGINE_URL=
ROUTING_API_KEY=

# Rate Limiting
RATE_LIMIT_REQUESTS_PER_MINUTE=

# Logging
LOG_LEVEL=

# Map
# Supported values: osm, google
MAP_PROVIDER=google
GOOGLE_MAPS_API_KEY=put_your_google_maps_api_key_here
